<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Useful</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="https://github.com/wireapp">Wire on Github</a></li>
            <li><a target="_blank" href="https://twitter.com/wire">Wire on Twitter</a></li>
            <li><a target="_blank" href="https://wire.com/en/">Wire Website</a></li>
            <li><a target="_blank" href="https://wire.com/en/blog/">Wire Blog</a></li>
            </ul>
        </div>
            
</div>